<div class="flex flex-col md:flex-row bg-white px-4 py-6">
  <!-- Form section -->
  <div class="container-main p-4 flex flex-wrap items-center w-full md:w-1/2">
    <h1 class=" font-extrabold text-xl ">TASK MANAGER</h1>
    <mat-form-field class="w-full mb-4 md:mr-4">
      <mat-label class="text-sm font-semibold">Title</mat-label>
      <input matInput placeholder="Enter title" [(ngModel)]="title" class="w-full">
    </mat-form-field>
    <mat-form-field class="w-full mb-4 md:mr-4">
      <mat-label class="text-sm font-semibold">Description</mat-label>
      <textarea matInput placeholder="Enter description" [(ngModel)]="description" class="w-full"></textarea>
    </mat-form-field>
    <mat-form-field class="w-full mb-4">
      <mat-label class="text-sm font-semibold">Status</mat-label>
      <mat-select [(ngModel)]="status" name="status" class="w-full">
        <mat-option *ngFor="let stat of statusList" [value]="stat">{{stat}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="bg-blue-400 text-white px-4 py-2 rounded-lg hover:bg-blue-200" (click)="createTodolist()">Submit</button>
  </div>
  <div class=" bg-gray-600">
    <mat-divider class="h-full border-l bg-gray-600"></mat-divider>
    </div>
  <div class="relative w-full md:w-1/2 p-4 rounded-sm border-collapse md:border-l-0 md:border-r-0 md:border-l">
    <div *ngIf="!isLoading" class="">
      <table mat-table [dataSource]="dataSource" class="w-full">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{ 'text-green-700': element.status === 'complete', 'text-blue-600': element.status === 'incomplete' }">
            {{element.status}}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Update </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="updateTodoList(element)">
              <mat-icon class="mat-18 text-blue-500">system_update</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteTodolist(element._id)">
              <mat-icon class="mat-18 text-red-500">delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
    <div *ngIf="isLoading" class="top-0 left-0 w-full h-full flex justify-center items-center bg-opacity-50 z-50 absolute">
      <ngx-spinner  bdColor = "rgba(0, 0, 0, 0.1)" size = "medium" color = "#dedcdc" type = "ball-spin" [fullScreen] = "false">
        <p class="text-white">Loading...</p>
      </ngx-spinner>
    </div>
  </div>
</div>
